//@import "_normalize.scss";
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    font-family: "Nort";
}

.wrap {
    max-width: 1070px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.menu {
    background-color: burlywood;
    padding: 10px 10px;
}

.link_menu {
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
        text-decoration-line: none;
        color: black;
        text-transform: uppercase;
    }
}

.bg_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh
}

main {
    min-height: calc(100vh - 90px - 18px);
}

footer {
    height: 90px;
    background: cornflowerblue;
}